.App {
  text-align: center;
  color: #101010;
}

a {
  text-decoration: none;
  color: black;
}

.shadowBox{
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #bbbbbb;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  box-shadow: 1px 2px #eeeeee;
}

.header {
  position: fixed;
  width: calc(100% - 40px);
  text-align: left;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 20px;
  border-bottom: 1px solid #cacdd0;
}

.headerLoading {
  width: 18px;
  float:right;
}

.headerText {
  font-size: 22px;
  color: #8cabd8;
  font-weight: bold;
  text-decoration: none;
}

.headerSpacer {
  width: 100%;
  height: 67px;
}

.container {
  display: grid;
  margin: 0 auto;
  width: 80%;
  min-width: 900px;
  grid-gap: 24px;
  justify-content: space-between;
}

.searchBar {
  margin-top: 24px;
  grid-column: 1 / 5;
  text-align: right;
}
.searchBar > input {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #bbbbbb;
}
.searchBar > span {
  color: white;
  background-color: #2f9eff;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.list {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.listPodcastElement{
  margin: 15px;
  margin-top: 170px;
  padding: 15px;
  padding-top: 85px;
  border-radius: 0 0 5px 5px;
}
.listPodcastElement > div:nth-child(1){
  height:0;
}
.listPodcastElement > div:nth-child(1) > img{
  border-radius: 50%;
  margin-top: -170px;
}
.listPodcastElement > div p:nth-child(1){
  margin-top: 35px;
  color: black;
}
.listPodcastElement > div p:nth-child(2){
  color: #777777;
  font-size: 0.8em;
}

.podcastWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.podcastOverview{
  margin: 15px;
  padding: 15px;
  text-align: left;
}
.podcastOverview > div > img {
  display: table;
  margin: 0 auto;
  max-width: 150px;
  border-radius: 5px;
}
.podcastOverview > div p:nth-child(3) {
  margin-top: -14px;
  color: #777777;
  font-size: 14px;
}
.podcastOverview > div p:nth-child(4) {
  margin-top: 40px;
  color: #333333;
  margin-bottom: 0;
}
.podcastOverview > div p:nth-child(5) {
  margin-top: 0;
  color: #333333;
  font-size: 12px;
  text-align: justify;
}

.podcastInfo{
  grid-column: span 3;
  margin: 15px;
  text-align: left;
}
.episodesCounter{
  padding : 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.podcastInfo > div > div:nth-child(1){
  padding : 15px;
}

.episode{
  padding-bottom: 3px;
  border-bottom: 1px solid #bbbbbb;
  display : grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 10px;
}
.episodeList > a:nth-child(even) > div{
  background-color: #eeeeee;
}
.episode > div:nth-child(1){
  color: #3c5b98;
}

.episodeInfo{
  grid-column: span 3;
  margin: 15px;
  padding: 15px;
  text-align: left;
}
.episodeInfo > div > div:nth-child(1){
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 12px;
}
.episodeInfo > div > div:nth-child(2){
  font-size: 14px;
  color: #333333;
  font-style: italic;
  margin-bottom: 12px;
}